* {
    box-sizing: border-box;
}

body {
    color:#BC4749;
    background-color: #1D3354;
}

.h1, h1 {
    font-size: 2.5rem;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
    margin-top: 0;
    display: block;
}

.lead {
    font-size: 1.25rem;
    font-weight: 300;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.btn {
    background-color: #f9db6d;
    color: #1d3354;

}
.container {
    background-color: azure;
    /* padding-bottom:50px;
    padding-left:200px;
    padding-right:200px;
    padding-top:50px;  */
    align-content: center;
    text-align: center;


}
 footer {
     display: block;
 }
.mt-auto{
    margin-top:auto!important;
}

#button {
    padding: 10px;
    margin:10px; 
}