body {
    color:black;

}

.jumbotron {
    background-image: url("https://newsdeeply.imgix.net/20170907044141/15927847315_01a4796f82_o.jpg?w=640&fit=max&q=60");
}

.container {
    background-color: azure;
    /* padding-bottom:50px;
    padding-left:200px;
    padding-right:200px;
    padding-top:50px;  */
    align-content: center;
    text-align: center;


}